<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Closest Pair Result</title> 
    <link rel="stylesheet" href="../static/task1.css"> 
</head> 
<body> 
    <div class="container"> 
        <h1>Result</h1> 
        <p>Input Array: {{ input_array }}</p> 
        <p>Closest Pair: {{ closest_pair }}</p> 
        <a href="/"><button type="submit">Back to home</button> </a> 
    </div> 
</body> 
</html> 