<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAD Practical</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <div class="all">  
    <h1>Practical - 3 </h1>
    
    <div class="btn">
        <a href="{{ url_for('task1')}}">
    <button>
      <span class="button_top"> Task_1
      </span>
    </button></a>

    <!-- <a href="{{ url_for('task2')}}">
      <button>
        <span class="button_top"> Task_2
        </span>
      </button></a> -->
    </div>
</div>
</body>
</html>
